<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body style="margin: 0;">
    <header style="background-color: lightgray; padding: 1rem;">
        <h1>Employees</h1>
    </header>
    <div style="margin: 1rem;">
        @RenderBody()
    </div>
</body>
</html>
