@model CreateEmployeeVM;
@{
    ViewBag.Title = "Create Employee";
}

<form asp-controller="Home" asp-action="CreateEmployee">
    <label asp-for="Name"></label>
    <input asp-for="Name"/>
    <span asp-validation-for="Name" style="color:red"></span>

    <label asp-for="Email"></label>
    <input asp-for="Email"/>
    <span asp-validation-for="Email" style="color:red"></span>
    
    <label asp-for="BotCheck"></label>
    <input asp-for="BotCheck"/>
    <span asp-validation-for="BotCheck" style="color:red"></span>
    
    <br />
    <input type="submit" value="Add Employee"/>
</form>

@section scripts{
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery/jquery.validate.min.js"></script>
    <script src="~/jquery/jquery.validate.unobtrusive.min.js"></script>
}