@model Employee[]
@{
    ViewBag.Title = "Index";
}
<div>
    @foreach (var item in Model)
    {
        <span>@item.Name is with @item.Company?.Name</span>
        <br/>
    }
    <a asp-controller="Home" asp-action="CreateEmployee">Add Employee</a>
</div>
