@model Employee[]
@{
    ViewBag.Title = "Index";
}
<div>
    @foreach (var item in Model)
    {
        
        <p>@item.Name</p>
        <br/>
    }
    <a asp-controller="Home" asp-action="CreateEmployee">Add Employee</a>
</div>
